*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.about-container{
    background-color: rgb(92, 91, 91);
    background-color:
rgba(40, 40, 40,10%);

};
/* .about-inner{
   
} */
.about-section-one{
  
    display: flex;
    height: 100%;
    
}
.about-section-one-left{
    width: 75%;
    border-radius: 4px;
   
    text-align: left;
    font-size: 12px;
    height: 700px;
}
.about-section-one-right{
    width: 24%;
    margin-left: 1%;
 
   
}
.about-inner{
    width: 85%;
    margin: 10px auto;
    background-color: white;
}

.about-section-one-left-upper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    width: 100%;
    
}
.about-section-one-left-upper-le{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   padding-left: 25px;
   padding-bottom: 15px;
    height: 700px;
}
.about-section-one-left-upper-le img{
    width: 100%;
}
.about-section-one-left-upper-ri{
    width: 70%;
    padding: 10px;
    
}
.about-section-one-left-upper-ri-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: orange;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.about-section-one-left-upper-ri-header h5{
    font-size: 20px;
    color: black;
    width: 85%;
}
.love-div-about{
    align-items: flex-start;
    display: flex;
    font-size: 25px;
    align-self: flex-start;
    margin: 0;
  
}
.flash-about{
    text-align: left;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid red;
    margin-bottom: 10px;
}
.flash-about-header{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 5px;
    color: white;
   
}
.flash-about-body{
    padding: 5px;
}
.flash-about-header h5{
    font-size: 12px;
}
.flashandimage-about-header{
    display: flex;
}
.recent-flash-about{
    font-size: 20px;
    font-weight: bold;
}
.previous-flash-about{
    font-size: 17px;
    text-decoration: line-through;
   
}
.about-section-one-left-upper-ri button{
    width: 100%;
    color: white;
    background-color: orange;
    border-radius: 6px;
    height: 40px;
    border: none;
    margin-top: 20px;
}
.promotions-about{
    border-top: 1px solid grey;
    margin-top: 30px;
    padding-top: 30px;
}
.promotions-about p{
    color: rgb(5, 5, 88);
    cursor: pointer;
    font-size: 13px;
    line-height: 28px;
}
.promotions-about p:hover{
    text-decoration: underline;
}
.about-image-container{
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.share-product{
    font-size: 14px;
}
.share-product-icons{
    margin-top: 10px;
}
.share-product-icons span:hover{
    color: orange;
    border-color: orange;
}
.share-product-icons span{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
}
.about-smaller-screen{
    display: none;
}
.about-larger-screen{
    display: inline;
}
@media screen and (max-width:1000px) {
    .about-smaller-screen{
        display: inline;
    }
    .about-larger-screen{
        display: none;
    }
    .about-body-smallerscreen{
        padding-top: 110px;
    }
    .about-image-container{
        width: 100%;
        padding: 0px;
        border: none;
        margin-top: 15px;
        background-color: bisque;
    }
    .about-image-container img{
        width: 100%;
        height: 100%;
    }
    .flash-about-cont-smallscreen{
        background-color: white;
        text-align: left;
        padding: 10px;
    }
    .promotions-about{
        border: none;
        margin-top: 10px;
        padding-top: 0;
       text-align: left;
       
    }
    .promotion-smallscreen p{
        font-size: 1rem;
    }
    .report-smallscreen{
        background-color: white;
        text-align: left;
        height: 35px;
        margin-top: 10px;
        color: rgb(5, 5, 88);
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .about-addcart-smallscreen{
        width: 100%;
        border: none;
        outline: none;
        margin-top: 10px;
        background-color: orange;
        color: white;
        height: 40px;
    }
    
}