*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAFAFE;
    max-width: 100%;
  
}

.first-body-div-up{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px ;
    
   
    
}
.main-home{
    min-height: 100vh;
}
.home-container{
    
 width: 85%;
 
    
    align-self: center;
    margin: auto auto;
    /* margin-top: 90px; */
  
  
}

.home-other-navigations{
   background-color: white;
   width: 220px;
   min-width: 20%;
   box-shadow:  1px 3px 8px  rgb(0 0 0/ 10%);
   line-height: 30px;
   height: 380px;
   padding-left: 10px;
   margin-right: 25px;
   margin-left: 0;
   font-size: 12px;
    border-radius: 6px;
    color: rgb(163, 156, 156);
    cursor: pointer;
}
.home-other-navigations ul li:hover{
    color: orange;
}
.home-other-navigations ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.home-other-navigations ul li{
    text-decoration: none;
    list-style: none;
}
.home-central-image{
    /* width: 700px; */
   width: 55%;
  
    height: 380px;
   
    cursor: pointer;
}
.home-central-image img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
   
}

.home-top-right-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
    min-width: 20%;
   
   
}
.home-top-right-area .major-blocks-right-top{
  
    height: 180px;
    width: 200px;
    width: 100%;
    border-radius: 6px;
   
}
.home-top-right-area-first{
    margin-bottom: 20px;
    background-color: white;
    display: flex;
  
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    box-shadow:  1px 3px 8px  rgb(0 0 0/ 10%);
}
.home-top-right-area-second{
    background-color: orange;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.top-right-sec-anim{
    /* transition: all 0.1s ease-in; */
    position: absolute;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: show2 3s  infinite ease-in;
   
    width: 90%;
    animation-delay: 4s;
    opacity: 0;

}
.top-right-anim{
    /* transition: all 0.1s ease-in; */
    font-size: 15px;
    position: absolute;
    animation: name duration timing-function delay iteration-count;
     animation: show 3s  infinite  ease-in forwards ;
   
   
    animation-delay: 4s;
    width: 70%;
    opacity: 0;
    /* display: none; */
}
@keyframes show{
    0%{
        opacity: 0;
        
    }
    10%{
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    25%{
        opacity: 1;
        font-size: 20px;
    }
   
   
   50%{
        opacity: 0;
       
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes show2{
    0%{
        opacity: 0;
    }
    50%{
        opacity:0;
    }
    
    100%{
        opacity: 1;
    }
}
.head-and-parag-home-right{
    display: flex;
    text-align: left;
    margin-bottom: 0px;
}
.head-and-parag-home-right p{
    font-size: 12px;
    margin-left: 10px;
}
.head-and-parag-home-right h4{
    margin-left: 10px;
    font-size: 13px;
    color: rgb(163, 156, 156);
    font-weight: 100px;
    margin-bottom: 5px;
}
.home-top-img{
    width: 35px;
    height: 35px;
}
.first-body-div-down{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    width: 100%;
  
}
.first-body-div-down-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    background-color: white;
    min-width: 24%;
    height: 55px;
    margin-right: 13px;
    box-shadow: 0px 3px 10px  rgb(0 0 0/ 10%);
}
.first-body-div-down-div p{
    margin-left: 10px;
    font-weight: 200px;
}
.first-body-div-down-div img{
    width: 30px;
    height: 30px;
}
.second-body-div-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    height: 45px;
   
}
.home-sellname{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.flash-and-image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px ;
    font-size: 18px;
    
}
.flash-and-image img{
    width: 30px;
    height: 30px;
}
.items-home{
    display: flex;
    position: relative;
    background-color: white;
}
.items-home ul{
    width: 100%;
   display: flex;
   flex-direction: column;
   /* justify-content: flex-start; */
   /* background-color: blue; */
    /* background-color: blue; */
}
.items-home ul li{
    list-style: none;
    text-align: left;
    width: 100%;
    /* background-color: brown; */
    margin: 0;
    display: flex;
   flex-direction: column;
   
}

.list-container img{
    width: 100%;
    height: 100%;
}
.list-container{
    margin-top: 10px;
    width: 100%;
    margin-right: 8px;
    display: flex;
   /* transition: all 0.3s linear; */
    justify-content: flex-start;
    padding-right:00px;
    padding-left: 0px;
    padding: 10px;
    border-radius: 5px;
}
.list-container li{
    margin-right: 0px;
    cursor: pointer;
    font-size: 15px;
}
.list-container:hover{
    
        transform: scale(1.005);
        box-shadow: #3A3B3C;
        box-shadow: 10px 8px 10px  rgb(0 0 0/ 10%);
        box-shadow: 0px 0px 4px 4px  rgb(0 0 0 / 7%);
        
    
}
.previous-cancel-home{
    text-decoration: line-through;
}
.home-arrows{
    z-index: 10000000;
  position: absolute;
  align-self: center;
}

.arr{
   align-self: center;
  
  
    
}
.seeall-and-icon-home{
    display: flex;
    align-self: center;
    justify-content: center;
   
}
.right-icon-home-page{
   font-weight: bold;
    font-size: 18px;
    
    display: flex;
    align-self: center;
    justify-content: center;
}
.third-section .goodies-header{
    background-color: orange;
    margin-bottom: 0;
    height: 50px;
    padding: 0;
    display: flex;
    align-self: center;
    justify-content: center;
    
}
.goodies-header h5{
    align-self: center;
}
.third-section-image-div{
    display: flex;
    justify-content: space-between;
   margin-top: 0;
   padding: 10px;
   background-color: white;
   height: 280px;
   box-shadow: 0px 0px 10px 10px  rgb(0 0 0 / 3%);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
.third-section-image-div img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.third-section-image-div div {
    width: 49.5%;
}
.third-section-image-div img:hover{
    transform: scale(1.02);
}
.next-image-div-third-section{
    margin-top: 15px;
    border-radius: 5px;
}
.full-image-home div{
    width: 100%;
    background-color: aqua;
}
.full-image-home img{
    width: 100%;
}
.brand-div{
    box-shadow: 0px 0px 4px 4px  rgb(0 0 0 / 7%);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
}
.brand-div h5{
    font-size: 18px;
}
.brand-images{
    display: flex;
   
}
.brand-images img{
    width: 100%;
    height: 100%;
}
.brand-images div{
    width: 19%;
    
    border-radius: 5px;
    cursor: pointer;
    height: 90px;
}
.brand-images div:hover{
    transform: scale(1.03);
}
.smartphones-div{
    box-shadow: 0px 0px 4px 4px  rgb(0 0 0 / 7%);
    
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto ;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.smartphones-div img{
    width: 100%;
    height: 80%;
    border:6px
}
.smartphones-div div{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    margin-right: 5px;
    margin-bottom: 10px;
    height: 120px;
    cursor: pointer;
   
}
.smartphones-div div:hover{
    transform: scale(1.02);
}
.foot-write-up{
    border-radius: 6px;
    box-shadow: 0px 0px 4px 4px  rgb(0 0 0 / 7%);
    padding: 15px;
    text-align: left;
    margin-top: 15px;
}
.foot-write-up h5{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
}
.stay-safe-home{
    margin-top: 10px;
}
.foot-write-up h6{
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.foot-write-up p{
    font-size: 14px;
}
@media  screen and (max-width:1100px) {
    .home-top-right-area{
        display: none;
    }
    .home-container{
        /* width: auto;
        width: fit-content; */
        /* min-width: 100%; */
       
        align-items: center;
       
    }
    
    .first-body-div-up{
        min-width: 100%;
    }
    .home-central-image{
        min-width: 75%;
    }
}