*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flash-container{
    background-color: rgb(92, 91, 91);
    background-color:
rgba(40, 40, 40,10%);

};


.flash-container #flashbody{
    width: 85%;
   background-color: blueviolet;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
}
.flash-b{
   
    width: 85%;
    
     margin: 10px auto;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}
.flash-b p{
    margin-right: 5px;
    font-size: 12px;
}
.flash-banner{
    background-color: white;
    margin: 0 auto;
    width: 85%;
    height: 250px;
    padding: 10px;
    background-color: red;
}
.image-container-all{
    height: 80%;
}
.flash-banner img{
    width: 100%;
    height: 100%;
    /* background-color:
    rgba(40, 40, 40,10%)
    ;
    background-color: white; */
}
.flash-sections{
    width: 85%;
    margin: 10px auto;
    padding: 10px;
   
    background-color: white;
    display: flex;
    height: 150px;
    
}
.flash-sections ul{
   
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* margin-left: 1px;
    margin-right: 1px; */
    margin: 0;
    padding: 0;
    width: 18%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
   
}
.flash-sections ul:hover{
    transform: scale(1.06);
    box-shadow: 8px 8px 8px  rgb(0 0 0/ 10%);
}
.flash-sections ul img{
    width: 100%;
    height: 100%;
   
}
.flash-sections ul li{
   
    list-style: none;
   
}
.flash-item-name{
    align-self: center;
    margin-top: 10px;
}
.flash-categories{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 20px auto;
}
.shop-all-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort-by-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
   cursor: pointer;
   padding: 10px;
  
   border-radius: 6px;
}
.sort-by-arrow:hover{
    background-color: rgb(252, 198, 198);
    /* background-color: green; */
}
.sort-by-arrow span{
    font-weight: normal;
}
.flash-categories-right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:red;
    width: 100%;
    padding: 10px;
    color: white;
}
.flash-categories-right{
    border-radius: 3px;
    width: 75%;
}
.flash-categories-right h5{
    font-size: 17px;
    margin: 0;
}
.flash-categories-right h6{
    font-size: 14px;
    margin: 0;
}
.flash-categories-left{
   
    width: 24%;
    margin-right: 1%;
    height: 1280px;
    /* height: auto;
    height: 100px; */
    text-align: left;
    padding: 10px 0;
    background-color: white;
    border-radius: 3px;
    
}
.flash-categories-left h5{
    font-size: 15px;
    margin-top: 10px;
    border-top: 1px solid gray;
}

.items-in-flash-catg{
    display: grid;
    margin-right: 5px;
    padding-left: 10px;
    grid-template-columns:  25% 25% 25% 25%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding-top: 5px;
  
   
}
.items-in-flash-catg ul{
  text-align: left;
   margin-right: 10px;
   margin-top: 10px;
   padding: 5px;
   height: 410px;
   font-size: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
  
}
.items-in-flash-catg ul button{
    background-color: orange;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
}
.items-in-flash-catg ul:hover{
    transform: scale(1.03);
    box-shadow: 8px 8px 8px  rgb(0 0 0/ 10%);
    box-shadow: 0px 0px 10px 10px  rgb(0 0 0 / 7%);
}
.flash-categories-right .items-in-flash-catg ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.items-in-flash-catg img{
    width: 100%;
    height: 100%;
    margin: 0;
}
.lower-parag-flash{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    border-radius: 6px;
    background-color: white;
    margin: 10px auto;
    text-align: left;
    padding: 15px;
}
.lower-parag-flash h5{
    font-size: 16px;
}
.lower-parag-flash p{
    font-size: 12px;
}
.lower-parag-flash-one-upper{
    margin-bottom: 10px;
}
.flash-list-items-all-img{
    height: 180px;
    padding: 0;
    
}
.quantity-all-items-div{
    margin-bottom: 5px;
   
    width: 100%;
   display: flex;
   justify-content: center;
}
.flash-checkbox-parag{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5px;
   margin-left: 10px;
}
.flash-checkbox-parag input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: red !important;
}
.search-brand{
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
    padding: 3px;
    padding-left: 10px;
    font-size: 14px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin-left: 10px;
    border: 1px solid gray;
   
}
.search-brand input{
    border: none;
    outline: none;
}
.search-react-icon{
    font-size: 20px;
    margin-right: 5px;
}
.category-and-parag{
    margin-left: 10px;
}
.category-and-parag p{
    margin-left: 5px;
    font-size: 14px;
}
.category-and-parag h5{
    border: none;
}
.diff-categories h5{
    padding-left: 10px;
    padding-top: 10px;
}
.diff-categories p{
    font-size: 14px;
}
.flash-web-view{
    display: inline;
}
.flash-mobile-view{
    display: none;
}
@media screen and (max-width:1000px) {
    .flash-web-view{
        display: none;
    }
    .flash-mobile-view{
        display: inline;
    }
    .flash-inner-mobileview{
        min-height: 100vh;
        background-color:
rgba(40, 40, 40,10%);
padding: 0;
display: flex;
flex-direction: column;
justify-content: space-between;

}
   

.flash-body-mobile{
    padding-top: 120px;
}
.banner-mobile-view{
    width: 100%;
    height: 150px;
   padding-top: 20px;
  background-color: white;
}
.banner-mobile-view img{
    width: 95%;
    height: 95%;
}
.flash-mobileview-sections{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    margin: 0;
    width: 100%;
    margin-top: 10px;
    height: auto;
}
.flash-mobileview-sections ul{
   
    width: 100%;
    margin-bottom: 10px;
}
.items-in-flash-mobileview{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: inherit;
    margin-top: 0px;
}
.items-in-flash-mobileview ul li{
    list-style: none;
}
.items-in-flash-mobileview ul{
    box-shadow: 0px 0px 0px 4px  rgb(0 0 0 / 4%);
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    height: 420px;
    background-color: white;

}
.shop-all-mobileview{
    margin: 10px;
    text-align: left;
    font-size: 16px;
    color: rgb(109, 108, 108);
    margin-bottom: 0;
}
.sub-header-all-page-mobile{
    background-color: red;
    color: white;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
}