*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flashbody{
    width: 85%;
    background-color: aqua;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
}
.flash-banner{
    background-color: aliceblue;
    margin: 0 auto;
    width: 85%;
    height: 250px;
    padding: 10px;
}
.flash-banner img{
    width: 100%;
    height: 100%;
}
.flash-sections{
    width: 85%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
}
.flash-sections ul{
  
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    margin-right: 10px;
    padding: 0;
    width: 18%;
    text-align: center;
}
.flash-sections ul img{
    width: 100%;
    height: 100%;
}
.flash-sections ul li{
   
    list-style: none;
}
.flash-item-name{
    align-self: center;
    margin-top: 10px;
}
.flash-categories{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 10px auto;
}
.shop-all-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort-by-arrow{
    display: flex;
    align-items: center;
    justify-content: center;

}
.flash-categories-right-header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 100%;
}
.flash-categories-right{
    background-color: cadetblue;
    width: 75%;
}
.flash-categories-left{
    background-color: red;
    width: 25%;

    height: auto;
    height: 100px;
    /* position: fixed; */
}
.items-in-flash-catg{
    display: grid;
    margin-right: 5px;
    grid-template-columns:  25% 25% 25% 25%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: cadetblue;
  
   
}
.items-in-flash-catg ul{
  text-align: left;
   margin-right: 10px;
   padding: 0;
   height: 400px;
   font-size: 12px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.flash-categories-right .items-in-flash-catg ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.items-in-flash-catg img{
    width: 100%;
    margin: 0;
}
.lower-parag-flash{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    border-radius: 6px;
    background-color: beige;
    margin: 10px auto;
    text-align: left;
}