*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logincreate-container{
    width: 85%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    height: 280px;
}
.logincreate-container button{
    width: 100%;
    color: white;
    background-color: orange;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    margin-top: 15px;
}
.login-logincreate{
    border-right: 1px solid grey;
    width: 50%;
    text-align: left;
    padding-right: 50px;
    /* background-color: brown; */
}
.login-logincreate h3{
    text-align: center;
    color: orange;
    font-size: 20px;
}
.logincreate-container .signup-logincreate{
    width: 50%;
    text-align: left;
    padding-left: 50px;
   
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 100%;
    
}
.signup-logincreate h3{
    text-align: center;
    color: orange;
    margin-bottom: 10px;
    font-size: 20px;
}
.signup-logincreate p{
   
    margin-bottom: auto;
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input-container input{
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    height: 55px;
  
}
.login-password-input-div{
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.login-password-input-div input{
    outline: none;
    border: none;
    width: 95%;
   
}
.input-and-diplay-caution .login-password-input-div input:focus{
    border: none;
    outline: none;
    border-bottom: none;
}

.input-container input:focus{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
   
}
.forgot{
    color: orange;
    cursor: pointer;
}
.input-and-diplay-caution{
    display: flex;
    flex-direction: column;
}
.input-and-diplay-caution p{
    color: red;
    font-size: 13px;
}
.remember-checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.remember-checkbox input{
    margin-right: 10px;
    height: 18px;
    width: 18px;
}
.input-below{
    margin-bottom: 14px;
}
.eye-div{
    cursor: pointer;
}
.smallscreen-logincreate{
    display: none;
}
.largerscreen-logincreate{
    display: inline;
}
@media screen and (max-width:1000px)  {
    .largerscreen-logincreate{
        display: none;
    }
    .smallscreen-logincreate{
        display: inline;
    }
    
}