*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Footer-container{
    height: 60vh;
    margin: 50px auto;
  
   
}
.footer-category-three h5{
    font-size: 13px;
}
   
.Footer-container h5{
    font-size: 13px;
}
.Footer-container p{
    font-size: 12px;
    cursor: pointer;
}
.footer-inner-body{
    background-color: rgb(43, 41, 41);
}
.upper-footer{
   
    height: 30%;
    display: flex;
    color: white;
    text-align: left;
    padding: 20px;
    padding-left: 0;
    width: 85%;
    margin: 0 auto;
   
    
}
.input-button-footer{
    display: flex;
    align-items: flex-end;
    
}
.apple-google-footer{
    display: flex;
}
.footer-category-two{
    width: 50%;
   

}
.footer-category-two input{
    margin-top: 14px;
    border-radius: 6px;
    font-size: 12px;
    height: 30px;
    width: 60%;
    border: none;
    padding: 10px;
}
.footer-category-two button{
    width: auto;
    padding:10px 15px;
    color: white;
    border: 1px solid white;
    background-color: rgb(43, 41, 41);
    margin-left: 5px;
    height: 30px;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-category-one{
    width: 25%;
   

}
.footer-category-three{
    width: 25%;

}
.image-jumia-free-footer{
    display: flex;
}
.lower-footer-countries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.footer-orange-basket{
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    font-size: 25px;
    margin-right: 15px;
}
.apple-google-footer{
    margin-top: 10px;
}
.apple-google-footer .apple-google-footer-catg{
    width: auto;
   
    color: white;
    border: 1px solid white;
    background-color: rgb(43, 41, 41);
    margin-right: 10px;
    border-radius: 3px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    /* padding: 8px; */
    padding: 3px 8px;
    height: 30px;
}
.get-it-google-footer{
    display: flex;
    flex-direction: column;
   margin-left: 3px;
   flex-wrap: nowrap;
   
}
.get-it-google-footer p{
    font-size: 12px;
    line-height: 10px;
}
.get-it-google-footer .get-it-except{
    font-size: 6px;
}


/* lower footer */
.lower-footer{
    background-color: rgb(27, 27, 27);
    min-height: 70%;
   
    width: 100%;
}
.lower-footer-catg{
    width: 25%;
    text-align: left;
}
.lower-foot-inner{
    width: 85%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.lower-foot-inner-one{
    display: flex;

}
.lower-foot-inner-two{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid white;
    text-align: left;
    margin-top: 40px ;
    padding-bottom: 50px;
}
.lower-foot-inner-three{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px;
    
}
.lower-footer-two-items{
    width: 25%;
    
}
.lower-foot-inner-three-item{
    display: flex;
    margin-right: 15px;
   cursor: pointer;
}
.lower-footer p:hover{
    text-decoration: underline;
}
.lower-foot-inner-three-item:hover{
    color: orange;
}
.lower-footer-two-icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
}
.lower-footer-two-icons div{
    margin-right: 18px;
}
